body {
  margin: 0;
  box-sizing: border-box;
}

.temCont {
  margin: 90px 90px;
  height: 390px;
  width: 290px;
  background-color: rgb(76, 109, 109);
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.numBox {
  width: 190px;
  height: 190px;
  background-color: rgb(7, 124, 133);
  border-radius: 50%;
  border: 5px;
  border-color: white;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tempValue {
  font-size: 29px;
}
.boxes {
  display: flex;
  justify-content: space-between;
}

.box1 {
  background-color: rgb(88, 190, 160);
  height: 70px;
  width: 70px;
  border: 3px solid white;
  border-radius: 50%;
  float: left;
  justify-content: space-around;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.box2 {
  background-color: rgb(88, 190, 160);
  height: 70px;
  width: 70px;
  border: 3px solid white;
  border-radius: 50%;
  justify-content: space-around;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
